<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/galleria.min.js"></script> --}}
    <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs"
        data-app-key="d9nk4xppz12llak"></script>
    {{!-- <script type='text/javascript' src='/javascripts/page.js'></script> --}}
    <link rel="stylesheet" href="/stylesheets/page.css">
</head>

<body>
    <div>

        {{#each results}}
        <a href="{{this.link}}">{{this.name}}</a>
        {{/each}}

        {{!-- {{#response}}
        <a href="{{file}}">{{name}}</a>
        {{/response}} --}}
    </div>
    <container></container>
</body>

</html>